/*
DIV
*/

body {

  background-color: #fafafa;

  text-align: center;

  margin: 0;
  border: 0;

  padding: 0;

  margin-top: -5vh;

}

div {

  transition-duration: 2s;

}

div.headerWrapper {

  width: 92vw;

  margin-left:  4vw;
  margin-right: 4vw;
  margin-top:  -4vh;

}

div.infoBox {

  width: 90vw;
  height: auto;

  margin-left: 5vw;
  margin-top: 5vh

}

div.imgBox {

  width: 44vw;
  height: auto;

  display: inline-block;

  vertical-align: middle;

}

div.textBox {

  width: 44vw;
  height: auto;

  display: inline-block;

  vertical-align: middle;

  text-align: justify;

}

div.advertisement {

  width: 89vw;
  height: auto;

  display: inline-block;

  vertical-align: middle;

  text-align: justify;

  background-color:  #e3e6e8;

  padding: 1vh;

}

img {

  height: 50%;

}

img.adImage {

  display:block;
  margin-left: auto;
  margin-right: auto;

  padding: 2vh;

}

/*
TEXT
*/

p.headerText {

  color: #0d0d0d;

  font-family: "Playfair Display", serif;
  font-size: 10vh;

  text-transform: uppercase;
  text-align: center;

  border: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #0d0d0d;
  border-style: solid;

}

p.infotext {

  color: #0d0d0d;

  font-family: "Slabo 27px", serif;

  font-size: 3.66vh

}

p.storyTitle {

  color: #0d0d0d;

  font-family: "Playfair Display SC", serif;
  font-size: 5vh;
  font-weight: bold;

  text-transform: uppercase;
  text-align: center;

}

p.dateText {

  color: #0d0d0d;

  font-family: "Playfair Display", serif;
  font-size: 4vh;

  text-transform: uppercase;
  text-align: center;

}

p.adHeader {

  color: #0d0d0d;

  font-family: "Playfair Display SC", serif;
  font-size: 4vh;
  font-weight: bold;

  text-transform: uppercase;
  text-align: center;

}

p.adText {

  color: #0d0d0d;

  font-family: "Slabo 27px", serif;

  font-size: 3.33vh

}
